.is-hidden .modal {
  top: -100%;
  transform: translateX(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  padding: 40px;
  max-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background:$primary-white-color;
  overflow: auto;
  transition: all 1s;
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 100;
  border-radius: 15px;
  fill: $primary-black-color;
  background:$primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover,
    &:focus {
  fill: $accent-color;
    }
}