.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(team-bg-color);
}

.section.no-padding {
  padding-top: 0px;
}

.section__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section__client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title.is-hidden {
  display: none;
}
