$primary-text-color:#757575;
$title-text-color: #212121;
$accent-color:#2196F3;
$primary-white-color: #FFFFFF;
$contacts-text-color:rgba(255, 255, 255, 0.6);
$team-bg-color:#F5F4FA;
$secondary-bg-color:#2F303A;
$primary-black-color: #000000;